[submodule "freemodbus"]
	path = freemodbus
	url = https://github.com/cwalter-at/freemodbus.git
[submodule "avr-i2c-slave"]
	path = avr-i2c-slave
	url = https://github.com/thegouger/avr-i2c-slave.git
